<div class="container">
  <div class="sidenav">
    <a class="icon"><img src="https://www.tadviser.ru/images/a/ac/%D0%AE%D0%9D%D0%98%D0%A1_%D0%9B%D0%B0%D0%B1%D1%81_%D0%A1%D0%BE%D0%BB%D1%8E%D1%88%D0%B8%D0%BD%D0%B7.png" alt="logo"></a>
    <a [routerLink]="['/employees']">Сотрудники</a>
    <a [routerLink]="['/employment']">Занятость</a>
    <a [routerLink]="['/vacancies']">Вакансии</a>
  </div>
  <div class="main">
    <table>
      <tr>
        <td colspan="2"><button [routerLink]="['/main']">На главную</button></td>
        <td>Семёнов Н.А. <br> Должность 1</td>
      </tr>
    </table>
    <h1>Занятость сотрудников</h1>
    <!--    <mat-form-field>-->
    <!--      <mat-label>Filter</mat-label>-->
    <input matInput (keyup)="applyFilter($event)" placeholder="Поиск" #input>
    <!--    </mat-form-field>-->

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <ng-container matColumnDef="number">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.number}} </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> ФИО </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="group">
        <th mat-header-cell *matHeaderCellDef> Группа </th>
        <td mat-cell *matCellDef="let element"> {{element.group}} </td>
      </ng-container>

      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> Должность </th>
        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
      </ng-container>

      <ng-container matColumnDef="month">
        <th mat-header-cell *matHeaderCellDef> Текущий месяц </th>
        <td mat-cell *matCellDef="let element"> {{element.month}} </td>
      </ng-container>

      <ng-container matColumnDef="month1">
        <th mat-header-cell *matHeaderCellDef> Текущий месяц+1 </th>
        <td mat-cell *matCellDef="let element"> {{element.month1}} </td>
      </ng-container>

      <ng-container matColumnDef="month2">
        <th mat-header-cell *matHeaderCellDef> Текущий месяц+2 </th>
        <td mat-cell *matCellDef="let element"> {{element.month2}} </td>
      </ng-container>

      <ng-container matColumnDef="month3">
        <th mat-header-cell *matHeaderCellDef> Текущий месяц+3 </th>
        <td mat-cell *matCellDef="let element"> {{element.month3}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>
  </div>
</div>
