
<div class="container">
  <div class="sidenav">
    <a class="icon"><img src="https://www.tadviser.ru/images/a/ac/%D0%AE%D0%9D%D0%98%D0%A1_%D0%9B%D0%B0%D0%B1%D1%81_%D0%A1%D0%BE%D0%BB%D1%8E%D1%88%D0%B8%D0%BD%D0%B7.png" alt="logo"></a>
    <a [routerLink]="['/employees']">Сотрудники</a>
    <a [routerLink]="['/employment']">Занятость</a>
    <a [routerLink]="['/vacancies']">Вакансии</a>
  </div>
  <div class="main">
    <table>
      <tr>
        <td colspan="2"><button [routerLink]="['/main']">На главную</button></td>
        <td>Семёнов Н.А. <br> Должность 1</td>
      </tr>
    </table>
    <h1>Создание заявки на вакансию</h1>
    <table class="iksweb">
      <tbody>
      <tr>
        <td>Контактное лицо</td>
        <td>
          <mat-form-field appearance="fill">
            <mat-label>Select</mat-label>
            <mat-select>
              <mat-option value="one">First option</mat-option>
              <mat-option value="two">Second option</mat-option>
            </mat-select>
          </mat-form-field>
        </td>
        <td>
<!--          <mat-form-field appearance="fill">-->
<!--            <mat-label>Choose a date</mat-label>-->
<!--            <input matInput [matDatepicker]="picker">-->
<!--            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>-->
<!--            <mat-datepicker #picker></mat-datepicker>-->
<!--          </mat-form-field>-->
        </td>
      </tr>
      <tr>
        <td>Источник вакансии</td>
        <td>
          <mat-form-field appearance="fill">
            <mat-label>Select</mat-label>
            <mat-select>
              <mat-option value="one">First option</mat-option>
              <mat-option value="two">Second option</mat-option>
            </mat-select>
          </mat-form-field>
        </td>
        <td></td>
      </tr>
      <tr>
        <td>Вакантная должность</td>
        <td>

        </td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <th>Оплата труда</th>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th colspan="2">Квалификационные требования</th>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th colspan="2">Персональные требования</th>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
